.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 50px 50px 50px;
}

.container img {
  height: 260px;
  border-bottom: 1px solid lightgray;
}

.image {
  margin: 0 20px 0 20px;
  position: relative;
  overflow: hidden;
}
